html {
    background-color: rgb(139, 139, 139);
    font-family: 'Courier New', Courier, monospace;
}


#titulo-azul {
    color: rgb(15, 28, 214);
    font-style: italic;
}

.butaum {
    font-style: oblique;
    border-radius: 50px;
}

#enjoado {
    background-color: aquamarine;
}

p {
    background-color: blueviolet;
    width: 250px;
}